In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
raw_data=pd.read_csv('unembedded_grouped_cleaned_data.csv')
raw_data.head()

,Unnamed: 0,user_id,food_id,rating,userReviews,foodReviews
0,0,9974,998,5,"['delicious', 'and', 'easy', 'to', 'make']","['delicious', 'and', 'easy', 'to', 'make']"
1,1,10340,998,5,"['feeling', 'healthy', 'great', 'replication',...","['delicious', 'and', 'easy', 'to', 'make']"
2,2,12047,998,5,"['yum', 'will', 'make', 'again']","['delicious', 'and', 'easy', 'to', 'make']"
3,3,13451,998,5,"['turned', 'out', 'great', 'i', 'added', 'pean...","['delicious', 'and', 'easy', 'to', 'make']"
4,8,18226,998,5,"['fantastic', 'tasting', 'completely', 'simple...","['delicious', 'and', 'easy', 'to', 'make']"

In [9]:
userReview=raw_data["userReviews"]
itemReviews=raw_data[["user_id","foodReviews"]]

In [13]:
print(userReview.head())
print("-"*50)
print(itemReviews.head())

0           ['delicious', 'and', 'easy', 'to', 'make']
1    ['feeling', 'healthy', 'great', 'replication',...
2                     ['yum', 'will', 'make', 'again']
3    ['turned', 'out', 'great', 'i', 'added', 'pean...
4    ['fantastic', 'tasting', 'completely', 'simple...
Name: userReviews, dtype: object
--------------------------------------------------
   user_id                                 foodReviews
0     9974  ['delicious', 'and', 'easy', 'to', 'make']
1    10340  ['delicious', 'and', 'easy', 'to', 'make']
2    12047  ['delicious', 'and', 'easy', 'to', 'make']
3    13451  ['delicious', 'and', 'easy', 'to', 'make']
4    18226  ['delicious', 'and', 'easy', 'to', 'make']

In [15]:
unique_words=[]
for ele in userReview:
    unique_words.extend(ele)
unique_words=list(set(unique_words))
print(len(unique_words))

241

In [17]:
tfidf=TfidfVectorizer(max_features=241)
tfidf.fit(list(userReview))
tfidf_features=tfidf.transform(list(userReview))
print(tfidf_features.shape)

(58283, 241)

In [18]:
newUserReviews=tfidf_features
newItemReviews=[]

<1x241 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [19]:
print(type(tfidf_features))

<class 'scipy.sparse.csr.csr_matrix'>