In [2]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as  pd

In [3]:
os.listdir("../dataset")

['database.csv',
 'food-User-Review-Rating.csv',
 'id_name_mapping.csv',
 'ingredients.json',
 'ingToChemMap.csv',
 'newDatabase.csv',
 'newReview.csv',
 'review.csv',
 'reviewWithRating.csv',
 'sample',
 'twitterReviews',
 'userToIdMap.csv',
 'Utilities',
 'yummlyReviews',
 'yummlyUserReview.csv']

In [4]:
foodDb=pd.read_csv("../dataset/database.csv",names=["id","ing"])

In [5]:
allIng=[ele.split("|")[0] for ele in foodDb.ing]

In [6]:
allIng=list(set(allIng))

In [7]:
print(allIng[:10])
print("total number of dishes ",len(allIng))

['asafoetida', 'bottlegourd', 'fennel', 'fries', 'mayonnaise', 'cumin', 'barley', 'brie', 'chocolate', 'cheddar']
total number of dishes  98

In [8]:
os.listdir("../dataset/Utilities")

['food-User-Review-Rating.csv',
 'id_name_mapping.csv',
 'newDatabase.csv',
 'newReview.csv',
 'tastes.csv',
 'tfidf_final_scores.pickle']

In [9]:
flavonoid=pd.read_csv("../dataset/Utilities/newDatabase.csv",names=["id","chem"])

In [10]:
flavonoid.head()

   id                                               chem
0   1  Ethyl Lactate|3,4-Dihydroxybenzaldehyde|DL-Liq...
1   2  AC1LDI49|56424-87-4|3,4-Dihydroxybenzaldehyde|...
2   3  3-Methyl-1-butanol|Thymol|2-Nonanone|Pyrrolidi...
3   4  AC1LDI49|56424-87-4|2-Hexenyl propanoate|3,4-D...
4   5  3,4-Dihydroxybenzaldehyde|DL-Liquiritigenin|2-...

In [11]:
allChem=[]
for ele in flavonoid.chem:
    allChem.extend(ele.split("|"))

In [12]:
allChem=list(set(allChem))

In [13]:
print(allChem[:5])
print(len(allChem))

['Acetylpyrazine', 'Isopropyl Hexanoate', 'theobromine', '4-Hexen-3-One', 'Methyl 2-methoxybenzoate']
1405

In [16]:
rawData=pd.read_csv("../dataset/Utilities/newDatabase.csv",names=["id","flavanoids"])
rawData.head()

   id                                         flavanoids
0   1  Ethyl Lactate|3,4-Dihydroxybenzaldehyde|DL-Liq...
1   2  AC1LDI49|56424-87-4|3,4-Dihydroxybenzaldehyde|...
2   3  3-Methyl-1-butanol|Thymol|2-Nonanone|Pyrrolidi...
3   4  AC1LDI49|56424-87-4|2-Hexenyl propanoate|3,4-D...
4   5  3,4-Dihydroxybenzaldehyde|DL-Liquiritigenin|2-...

In [22]:
flavanoidDB={}
for i in range(rawData.shape[0]):
    flavanoidDB[str(rawData.id[i])]=rawData.flavanoids[i].split("|")
print(list(flavanoidDB.items())[0])

('1', ['Ethyl Lactate', '3,4-Dihydroxybenzaldehyde', 'DL-Liquiritigenin', '2-Acetylpyrrole', 'benzaldehyde', 'Ethyl Vinyl Ketone', '5-Hydroxymethylfurfural', '2,3,5-Trimethylpyrazine', 'Octan-2-ol', '2-Butanone', 'coumarin', 'indole', 'CHEBI:49249', 'Isobutyl isothiocyanate', '2-Isobutyl-3-Methoxypyrazine', 'Allyl methyl sulfide', 'Humulene', 'AC1L9CNW', 'Vitamin U', 'Alpha-Terpinyl Acetate', 'S-Propyl thioacetate', 'Terpinen-4-ol', 'Isobornyl acetate', 'Phlorizin', 'Methyl tetradecanoate', '(Z)-Hex-3-en-1-ol', '.alpha.-Calacorene', 'Tetrasulfide, dimethyl', 'M-Cymene', '(-)-Epicatechin gallate', 'Methyleugenol', '2-Nonanol', 'cinnamaldehyde', '2-Hexanone', 'Valencene', '2-Methylbutyraldehyde', '3,5-Diethyl-1,2,4-trithiolane', 'Isobutyl Acetate', 'Coumestrol', 'Ocimene', 'farnesol', 'Citral', '2-isopropyl-6-methoxypyrazine', 'hydrogen cyanide', 'Ethyl Propyl Disulfide', 'Methyl propyl disulfide', '2-Mercapto-2-Methyl-1-Pentanol', 'Hexanal', 'Damascenone', '2,3-butanedione', '1,3-Dithiane', '3,4-Dimethylphenol', 'Heptanal', 'Propyl sulfide', 'trans,trans-2,4-Nonadienal', 'trans-2-Nonenal', 'Ethyl Acetate', 'gamma-Caprolactone', 'D-Lactic acid', 'Tetradecanoic acid', '3-Octanone', 'Isobutyl Formate', 'hydrogen sulfide', 'Isovaleric Acid', 'cis-Jasmone', 'D-mannitol', '156420-69-8', 'Cianidanol', 'Methyl Benzoate', 'Eucalyptol', 'Pentanal', 'Propenyl propyl disulfide', 'Methyl Stearate', 'Allyl Mercaptan', 'Curcumenol', 'Linalool', 'alpha-Cadinene', 'Menthone', 'palmitic acid', 'Diallyl trisulfide', 'Pyridine', '1-Dodecanol', 'Ethyl Benzoate', 'Hexyl acetate', 'Nerolidyl acetate', 'indole-3-acetic acid', '2-Acetyl-2-thiazoline', '2,6-Dimethylpyrazine', '3-Methylcyclopentane-1,2-dione', 'Nonanal', 'Tributyrin', 'Pyruvic acid', 'Terpinolene', 'UNII-M41Y60O5BZ', '4-Methyl-5-Thiazoleethanol', 'Isoquercitrin', '2-Phenylethanol', 'Linalyl Acetate', 'Diisopropyl trisulfide', 'Gamma-Terpinene', 'Diallyl Disulfide', '3-Phenylpropanoic acid', 'Beta-Phellandrene', 'phloretin', 'Carvacrol', 'Curcumene', 'dimethyl sulfide', 'Ethyl Formate', '2,6-Dimethoxyphenol', 'carnosol', 'Disulfide, methyl 1-propenyl', '1-octanol', '2-Isopropyl-5-methylcyclohexanone', 'Beta-Caryophyllene', 'Neral', '1-Propanethiol', 'Phytol', '1-Octen-3-Ol', 'daidzein', 'Methyl octanoate', 'nan', 'cis-Isoeugenol', 'Alpha-Ionone', 'Dipropyl trisulfide', 'Daidzin', 'Beta-Pinene', 'Allyl Methyl Disulfide', 'Isopentyl formate', '2-Acetyl-5-Methylfuran', '2-Methyl-2-Pentenal', '(Z)-cinnamyl alcohol', '2-Heptanone', 'sulfur dioxide', 'Dipentene', 'Methyl Acetate', '2-Methyl-1-propanol', 'methanethiol', 'Sinapic Acid', 'Isoamyl Acetate', 'quercetin', 'L-Rhamnose', 'isopropanol', '2-Pentanol', '2-Methyl-1-Butanol', '3-Carene', '2-Isopropyl-3-Methoxypyrazine', 'Vanillic acid', 'Furfuryl acetate', '2,3-Pentanedione', '.alpha.-Cubebene', '2-Heptanol', '(-)-Zingiberene', 'butein', '24168-70-5', '2-Nonanone', 'calcium lactate', '3-Hexanone', '(-)-gamma-cadinene', 'hydrogen peroxide', '(5xi,7xi,10xi)-eudesma-4(14),11-diene', 'S-allyl-L-cysteine', 'Methyl propyl trisulfide', 'gamma-Decalactone', '(-)-Epigallocatechin', 'gamma-Butyrolactone', 'methyl (9E,12Z)-octadeca-9,12-dienoate', '4-Methyl-5-Vinylthiazole', '3-methylthiopropanol', '2-(4-Hydroxyphenyl)ethanol', 'Tangeretin', 'gamma-Nonanolactone', 'Cyclopentanone', 'Carvone', '(Z)-Ethyl cinnamate', 'methyl salicylate', '6-Methyl-5-Hepten-2-One', 'Tiglic aldehyde', '2,3-Dimethylbenzofuran', 'D-Isoleucine Methyl Ester Hydrochloride', 'D-Camphor', 'betaine', 'P-Cymene', '4-Methyl-2-pentanone', '(+)-alpha-Terpineol', '2-Methyltetrahydrofuran-3-One', '3-Pentanone', 'Cinnamic Acid', '4-isopropylbenzaldehyde', 'Styrene', 'phenol', '2-Ethyl-4-hydroxy-5-methyl-3(2H)-furanone', 'Methyl jasmonate', '(Z)-Hex-4-enal', 'resveratrol', '(+)-Camphene', 'Cubenol', '3-Ethyl-2,5-dimethylpyrazine', '1-Popc', 'acetic acid', '2-Phenylethyl formate', 'trans-Anethole', '2-Undecanol', 'succinic acid', 'alpha-Cadinol', 'Dl-Methionine', 'salicylic acid', 'Isobutyraldehyde', '3-Thujene', 'CID 644104', '1,3-Diphenyl-1-butanone', 'Gallocatechin', 'dibutyl phthalate', 'Geraniol', 'Acrolein', '5-Methylfurfural', 'D-Limonene', 'Isopentyl benzoate', 'Thiamine Hydrochloride', '2,5-Dimethylthiophene', '(+)-Neomenthol', 'l-.alpha.-Cadinol', '2-Methylbutyl Acetate', 'Isoborneol', '1-(4-Methylphenyl)ethanol', '3-Mercapto-2-methylpentanal', '3-Methyl-2-Cyclopenten-1-One', 'Benzyl Salicylate', '(+)-delta-Cadinene', 'Octanal', 'Acetal', '3-Methylbutanal', 'Ethyl Cinnamate', 'Beta-Ionone', 'Acetyleugenol', 'cis-Cinnamic acid', '3-Methyl-2-butenal', '3-Methoxybenzaldehyde', 'octanoic acid', 'benzyl isothiocyanate', 'Ethyl Octanoate', '2-Pentyl Acetate', '33368-82-0', 'Isopropyl Acetate', 'eugenol', 'guaiacol', '2-amino-3-(prop-2-en-1-ylsulfanyl)propanoic acid', 'UNII-H5E892YJGG', 'Phenylacetic Acid', '2-Pentanone', 'Undecanoic Acid', 'Pyrrolidine', 'Allyl propyl sulfide', 'benzoic acid', 'DL-Tartaric acid', 'Benzyl tiglate', 'Linamarin', '3,4-Dihydroxybenzoic Acid', '2-Methoxy-4-vinylphenol', '3242-08-8', 'Acetophenone', '4-Hexen-1-Ol', '2-Methylbenzaldehyde', 'Nerolidol', '2-Furylacetone', 'Farnesal', 'Butyl propyl disulfide', '2-Acetylthiazole', 'Maltol', 'naringenin', '1-Pyrroline', '2,5-Dimethylpyrazine', 'Alpha-Terpinene', 'Dimethyl disulfide', 'propionic acid', '.beta.-Bourbonene', 'trans-2-Hexen-1-Ol', 'Dipropyl disulfide', '2,6-Di-tert-butyl-4-methylphenol', 'NSC5112', '1-Methylnaphthalene', 'Hexanoic Acid', 'Alpha-Pinene', 'Phenethyl acetate', '2-Methylpyrazine', 'Aromadendrene', '6753-98-6', '(E)-gamma-Bisabolene', 'Ethyl Levulinate', 'trans-3-Hexen-1-ol', 'Borneol', 'Beta-Selinene', '1-Nonanol', 'Beta-Elemene', 'Taxifolin', 'Myrcene', '1-Hexanol', 'Caryophyllene', 'Juniper camphor', 'Allyldimethylsilane', '4-Vinylphenol', 'Octan-2-one', '1-Phenylethyl acetate', 'Furfuryl Alcohol', 'Ethyl caproate', 'lauric acid', 'kaempferol', 'Camphene', '4-Hexen-3-One', 'Thymol', 'Isoeugenol', 'isoliquiritigenin', '2,3,5,6-Tetramethylpyrazine', 'Allyl Alcohol', '3-Hexanol', 'ethanol', 'alpha-Muurolene', '227456-27-1', '2-Methylpentanal', 'caftaric acid', '3-Methyl-2-Butanol', '(-)-Epicatechin', 'Allyl Isothiocyanate', 'Thymol methyl ether', 'cis-3-Hexenal', 'acetone', '(-)-Limonene', '3-Methyl-2-Buten-1-Ol', 'Beta-Terpineol', 'p-coumaric acid', 'Clove Oil', '4-hydroxybenzaldehyde', 'S-Methyl thioacetate', 'alpha-TERPINEOL', 'D-Fenchone', 'Estragole', '3-Heptanone', '7-methyl-4-methylidene-1-propan-2-yl-2,3,4a,5,6,8a-hexahydro-1H-naphthalene', '2-Furaldehyde', 'gingerol', 'Dl-Phenylalanine', 'Methyl propenyl ketone', '(-)-Epigallocatechin gallate', 'Acetovanillone', '(E)-Hept-2-enal', 'apigenin', 'vanillin', '3-Methyl-2-Cyclohexen-1-One', 'Diallyl Sulfide', 'Dimethyl trisulfide', 'Alpha-Phellandrene', 'luteolin', '1-propanol', 'phenylacetaldehyde', '(+)-alpha-phellandrene', 'Propyl butyrate', 'Benzyl Acetate', '3-Methyl-1-butanol', '1-Phenylethanol', 'Benzyl Benzoate', 'Isobutyl butyrate', '2-Acetylpyridine', '4-isopropylbenzyl alcohol', 'Isorhamnetin', '1-Penten-3-Ol', '2-Pentylfuran', 'L-histidine', 'Propyl acetate', 'Chavicol', 'AC1NST8Q', 'Syringaldehyde', 'Nonanoic Acid', '2-Undecanone', 'nicotine', '.beta.-Sesquiphellandrene', 'Sabinene hydrate', 'Methyl Palmitate', 'Neryl propionate', 'cinnamyl alcohol', 'Piperitol', 'cis-3-Hexenyl acetate', 'Geranyl Acetate', 'Allyl Propyl Disulfide', '(+)-gamma-cadinene', 'naphthalene', '2-Methylbutanoic acid', 'benzyl alcohol', 'alpha-Maltose', 'alpha-L-Sorbopyranose', 'Ethyl Butyrate', 'Heptanoic Acid', 'thiamine', 'Allyl Methyl Trisulfide', '2-Tridecanone', 'L-phenylalanine', 'Propionaldehyde', '3-(Methylthio)propionaldehyde', 'Caryophyllene oxide', 'Diallyl tetrasulfide', 'dimethyl sulfoxide', 'Propyl Benzoate'])

In [24]:
print("#unique chemical compound={}".format(len(allChem)))

#unique chemical compound=1405

In [25]:
rawData=pd.read_csv("../dataset/Utilities/unembedded_grouped_cleaned_data.csv")
rawData.head()

,Unnamed: 0,user_id,food_id,rating,userReviews,foodReviews
0,0,9974,998,5,"['delicious', 'and', 'easy', 'to', 'make']","['delicious', 'and', 'easy', 'to', 'make']"
1,1,10340,998,5,"['feeling', 'healthy', 'great', 'replication',...","['delicious', 'and', 'easy', 'to', 'make']"
2,2,12047,998,5,"['yum', 'will', 'make', 'again']","['delicious', 'and', 'easy', 'to', 'make']"
3,3,13451,998,5,"['turned', 'out', 'great', 'i', 'added', 'pean...","['delicious', 'and', 'easy', 'to', 'make']"
4,8,18226,998,5,"['fantastic', 'tasting', 'completely', 'simple...","['delicious', 'and', 'easy', 'to', 'make']"

In [27]:
for ele in flavanoidDB.keys():
    rawData.loc[rawData["food_id"]==ele,"foodReviews"]=str(flavanoidDB[ele])

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

def dummy_fun(doc):
    return doc

tfidf = TfidfVectorizer(
    analyzer='word',
    tokenizer=dummy_fun,
    preprocessor=dummy_fun,
    token_pattern=None) 

tfidf.fit([eval(ele) for ele in rawData["foodReviews"]])
tfidf_matrix=tfidf.transform([eval(ele) for ele in rawData["foodReviews"]]).toarray()

In [43]:
print(tfidf_matrix.shape)

(58283, 1410)

In [44]:
df1 = pd.DataFrame(tfidf_matrix, columns=tfidf.get_feature_names())
df1.head()

,(+)-Camphene,(+)-Dihydrocarveol,(+)-Isomenthone,(+)-Linalool,(+)-Neomenthol,(+)-Pulegone,(+)-alpha-Terpineol,(+)-alpha-phellandrene,(+)-delta-Cadinene,(+)-gamma-cadinene,...,trans-Aconitic acid,trans-Anethole,tridec-2-enal,trimethylamine,twice,tyramine,vanillin,very,was,中中中
0,0.0,0.0,0.0,0.0,0.043193,0.0,0.0,0.0,0.043193,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.042383,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.043193,0.0,0.0,0.0,0.043193,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.042383,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.043193,0.0,0.0,0.0,0.043193,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.042383,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.043193,0.0,0.0,0.0,0.043193,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.042383,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.043193,0.0,0.0,0.0,0.043193,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.042383,0.0,0.0,0.0

In [48]:
df1.var()

(+)-Camphene          0.000726
(+)-Dihydrocarveol    0.000003
(+)-Isomenthone       0.000008
(+)-Linalool          0.000742
(+)-Neomenthol        0.000108
                        ...
tyramine              0.000321
vanillin              0.000098
very                  0.000011
was                   0.000011
中中中                   0.001595
Length: 1410, dtype: float64