In [1]:
import os
os.listdir("../dataset")

['database.csv',
 'food-User-Review-Rating.csv',
 'id_name_mapping.csv',
 'ingredients.json',
 'ingToChemMap.csv',
 'newDatabase.csv',
 'newReview.csv',
 'review.csv',
 'reviewWithRating.csv',
 'sample',
 'twitterReviews',
 'userToIdMap.csv',
 'Utilities',
 'yummlyReviews',
 'yummlyUserReview.csv']

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("../dataset/food-User-Review-Rating.csv")
df.head()

,Unnamed: 0,food_id,user_id,review,rating
0,0,998,9974,Delicious and easy to make,5
1,1,998,10340,Feeling healthy! Great replication of what I u...,5
2,2,998,12047,Yum will make again.,5
3,3,998,13451,Turned out great! I added peanut butter which ...,5
4,4,998,9974,Delicious and easy to make,5

In [20]:
users=df["user_id"].to_list()
nRev=len(df.rating)
print("Total number of reviews ",nRev)
uniUsr=list(set(users))
print("Total number of users ",len(uniUsr))
usrWith1Rev=sum(df["user_id"].value_counts()==1)
print("Total number of users with just one review ",usrWith1Rev,"-> ",usrWith1Rev/nRev,"%")
print("Average rating ",np.average(df["rating"]))
print("rating std",np.std(df["rating"]))

Total number of reviews  106511
Total number of users  21004
Total number of users with just one review  3044 ->  0.028579207781355916 %
Average rating  4.4501788547661745
rating std 0.9045444675399783

In [10]:
foodIdMap=pd.read_csv("../dataset/id_name_mapping.csv")
ing=pd.read_csv("../dataset/database.csv")
ing.head()

   1 bean|clove|curry|garlic|masala|onion|salad|salt|sugar|turmeric|vinegar
0  2  beef|chili|chilli|clove|coriander|cumin|garlic...
1  3                      flour|ghee|paratha|salt|sugar
2  4  chana|corn|cumin|ginger|mango|oil|onion|potato...
3  5       cucumber|juice|lemon|onion|salt|sugar|tomato
4  6  chicken|chili|clove|coriander|cumin|dal|desser...

In [27]:
print(df.head())
print(df.columns)
df=df.drop(df.columns[0] ,axis=1)

   Unnamed: 0 food_id  user_id  \
0           0     998     9974
1           1     998    10340
2           2     998    12047
3           3     998    13451
4           4     998     9974

                                              review  rating
0                         Delicious and easy to make       5
1  Feeling healthy! Great replication of what I u...       5
2                               Yum will make again.       5
3  Turned out great! I added peanut butter which ...       5
4                         Delicious and easy to make       5
Index(['Unnamed: 0', 'food_id', 'user_id', 'review', 'rating'], dtype='object')

In [29]:
print(df.head())
print(df.shape)

  food_id  user_id                                             review  rating
0     998     9974                         Delicious and easy to make       5
1     998    10340  Feeling healthy! Great replication of what I u...       5
2     998    12047                               Yum will make again.       5
3     998    13451  Turned out great! I added peanut butter which ...       5
4     998     9974                         Delicious and easy to make       5
(106511, 4)

In [31]:
df.drop_duplicates(keep=False,inplace=True)
print(df.head())
print(df.shape)

    food_id  user_id                                             review  \
44      257     6918  A nice twist on aloo gobi. Too much cayenne pe...
525     803    13510  really good recipe! we added some Italian herb...
652     761     4955  We really enjoyed this dish . Easy, but elegan...
653     761    12859  The crisp taste of asparagus with the sweet br...
654     761     9324               great the whole family loved it!!!!!

     rating
44        4
525       5
652       5
653       5
654       5
(11361, 4)

In [32]:
print(len(set(df["user_id"])))

7629

In [34]:
users=df["user_id"].to_list()
nRev=len(df.rating)
print("Total number of reviews ",nRev)
uniUsr=list(set(users))
print("Total number of users ",len(uniUsr))
usrWith1Rev=sum(df["user_id"].value_counts()==1)
print("Total number of users with just one review ",usrWith1Rev,"-> ",usrWith1Rev/nRev*100,"%")
print("Average rating ",np.average(df["rating"]))
print("rating std",np.std(df["rating"]))

Total number of reviews  11361
Total number of users  7629
Total number of users with just one review  5770 ->  50.78778276560162 %
Average rating  4.50444503124725
rating std 0.8211203746421151

In [35]:
df2=pd.read_csv("../dataset/food-User-Review-Rating.csv")
users=df2["user_id"].to_list()

In [37]:
print(len(users))

106511

In [38]:
print(len(set(users)))

21004

In [40]:
uniUsr=list(set(users))
uniUsr=[str(ele) for ele in uniUsr]
with open("test.txt","w") as f:
    f.write("\n".join(uniUsr))

In [41]:
os.listdir("../dataset")

['database.csv',
 'food-User-Review-Rating.csv',
 'id_name_mapping.csv',
 'ingredients.json',
 'ingToChemMap.csv',
 'newDatabase.csv',
 'newReview.csv',
 'review.csv',
 'reviewWithRating.csv',
 'sample',
 'twitterReviews',
 'userToIdMap.csv',
 'Utilities',
 'yummlyReviews',
 'yummlyUserReview.csv']

In [45]:
df3=pd.read_csv("../dataset/userToIdMap.csv")
df3.head()
df3=df3.drop(df3.columns[0] ,axis=1)
df3.drop_duplicates(keep=False,inplace=True)

In [46]:
df3.head()

   id             name
0   1                !
1   2  #DinnersReady!!
2   3          'Deb A.
3   4                -
4   5          -Lonely

In [47]:
print(len(df3.name))

21004

In [48]:
print(len(set(df3.name)))

21004