In [1]:
import os
os.listdir("../dataset")

['database.csv',
 'food-User-Review-Rating.csv',
 'id_name_mapping.csv',
 'ingredients.json',
 'ingToChemMap.csv',
 'newDatabase.csv',
 'newReview.csv',
 'review.csv',
 'reviewWithRating.csv',
 'sample',
 'twitterReviews',
 'userToIdMap.csv',
 'Utilities',
 'yummlyReviews',
 'yummlyUserReview.csv']

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("../dataset/food-User-Review-Rating.csv")
df.head()

,Unnamed: 0,food_id,user_id,review,rating
0,0,998,9974,Delicious and easy to make,5
1,1,998,10340,Feeling healthy! Great replication of what I u...,5
2,2,998,12047,Yum will make again.,5
3,3,998,13451,Turned out great! I added peanut butter which ...,5
4,4,998,9974,Delicious and easy to make,5

In [20]:
users=df["user_id"].to_list()
nRev=len(df.rating)
print("Total number of reviews ",nRev)
uniUsr=list(set(users))
print("Total number of users ",len(uniUsr))
usrWith1Rev=sum(df["user_id"].value_counts()==1)
print("Total number of users with just one review ",usrWith1Rev,"-> ",usrWith1Rev/nRev,"%")
print("Average rating ",np.average(df["rating"]))
print("rating std",np.std(df["rating"]))

Total number of reviews  106511
Total number of users  21004
Total number of users with just one review  3044 ->  0.028579207781355916 %
Average rating  4.4501788547661745
rating std 0.9045444675399783

In [10]:
foodIdMap=pd.read_csv("../dataset/id_name_mapping.csv")
ing=pd.read_csv("../dataset/database.csv")
ing.head()

   1 bean|clove|curry|garlic|masala|onion|salad|salt|sugar|turmeric|vinegar
0  2  beef|chili|chilli|clove|coriander|cumin|garlic...
1  3                      flour|ghee|paratha|salt|sugar
2  4  chana|corn|cumin|ginger|mango|oil|onion|potato...
3  5       cucumber|juice|lemon|onion|salt|sugar|tomato
4  6  chicken|chili|clove|coriander|cumin|dal|desser...