In [0]:
import json
import pandas as pd
import numpy as np
from time import time

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
路路路路路路路路路路
Mounted at /content/gdrive

In [0]:
data=pd.read_csv('/content/gdrive/My Drive/Final Year Project/DeepConn/Deep_Learning_Recommender_System/cleaned_reviews.csv').drop("Unnamed: 0", axis=1)
dat=data

In [0]:
user_item_review = dat.drop("review", axis=1)
# user_item_review.head()

In [0]:
def MakeList(x):
    T = tuple(x)
    if len(T) > 1:
        return list(T)
    else:
        return T[0]

In [0]:
# DFGrouped = data.groupby(['user_id', 'food_id'])
# DF_Agg = DFGrouped.agg({'review' : MakeList})

In [43]:
# # user_item_review = data.drop("review", axis=1)
# print(data.head())
# user_reviews = pd.pivot_table(data, index=["user_id", "food_id"], aggfunc=lambda x:x).drop("rating", axis=1)
# print(user_reviews.head())
# # food_reviews = pd.pivot_table(data,
# #                                index=["food_id", "user_id"],
# #                                aggfunc=lambda x: x).drop("rating", axis=1)
# d1=data.drop('food_id',axis=1)
# d2=data.drop('user_id',axis=1)
user_reviews = dat.groupby('user_id').agg({'review' : MakeList})
food_reviews = dat.groupby('food_id').agg({'review' : MakeList})
user_reviews

                                                    review
user_id
1        [['it', 'was', 'good', 'almost', 'all', 'the',...
2        [['amazing', 'great', 'family', 'dinner', 'わ'...
3        [['crispy', 'on', 'the', 'outside', 'sweet', '...
4        [['really', 'good', 'i', 'loved', 'it'], ['rea...
5        [['i', 'really', 'like', 'beef', 'stew', 'so',...
...                                                    ...
21000    [['tasted', 'great', 'i', 'just', 'skipped', '...
21001    [['very', 'good', '\r', 'first', 'time', 'maki...
21002    [['yummy', 'used', 'whole', 'wheat', 'tortill...
21003    [['it', 'looks', 'good', 'and', 'taste', 'good...
21004    [['delicious', 'had', 'to', 'add', 'a', 'littl...

[21004 rows x 1 columns]

In [0]:
def add_user_reviews(x):
    # ur = user_reviews.loc[x["user_id"]]
    ur = user_reviews.loc[x["user_id"]].values.tolist()
    # print(ur)
    fr = food_reviews.loc[x["food_id"]].values.tolist()
    x["userReviews"] = " ".join(list(map(lambda x: x[0], ur)))
    x["foodReviews"] = " ".join(list(map(lambda x: x[0], fr)))
    return x

In [0]:
# s = pd.Timestamp(int(time()), unit="s")
grouped_cleaned_data = user_item_review.apply(add_user_reviews, axis=1)
# print(user_item_review)
# add_user_reviews(user_item_review)
# e = pd.Timestamp(int(time()), unit="s")
# print("took {}".format(e - s))
# user_item_review.head(10)

In [46]:
grouped_cleaned_data

        user_id  ...                                        foodReviews
0          9974  ...         ['delicious', 'and', 'easy', 'to', 'make']
1         10340  ...         ['delicious', 'and', 'easy', 'to', 'make']
2         12047  ...         ['delicious', 'and', 'easy', 'to', 'make']
3         13451  ...         ['delicious', 'and', 'easy', 'to', 'make']
4          9974  ...         ['delicious', 'and', 'easy', 'to', 'make']
...         ...  ...                                                ...
106506    13921  ...  ['delicious', 'added', 'a', 'clove', 'of', 'ga...
106507     4766  ...  ['delicious', 'added', 'a', 'clove', 'of', 'ga...
106508     4766  ...  ['delicious', 'added', 'a', 'clove', 'of', 'ga...
106509    11346  ...  ['delicious', 'added', 'a', 'clove', 'of', 'ga...
106510    11346  ...  ['delicious', 'added', 'a', 'clove', 'of', 'ga...

[106511 rows x 5 columns]

In [0]:
grouped=grouped_cleaned_data.drop_duplicates()

In [0]:
grouped.to_csv("/content/gdrive/My Drive/Final Year Project/DeepConn/Deep_Learning_Recommender_System/unembedded_grouped_cleaned_data.csv")